{% extends 'base.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block body %}
    <h1>Nouvel évènement</h1>

    {{ include('event/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('event_index') }}" role="button">Retour à la liste</a>
{% endblock %}
