{% extends 'base.html.twig' %}

{% block title %}Modifier évènement{% endblock %}

{% block body %}
    <h1>Modifier évènement</h1>

    {{ include('admin/event/_form.html.twig', {'button_label': 'Changer'}) }}

    {{ include('admin/event/_delete_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('event_admin_index') }}" role="button">Retour à la liste</a>

{% endblock %}
