{% extends 'base.html.twig' %}
{% block header %}
    {% include 'banner.html.twig' %}
{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-md-3 offset-1">
            <img src="../assets/images/Events.png" />
        </div>
        <div class="col-md-3 offset-1">
            <img src="../assets/images/Services.png" />
        </div>
        <div class="col-md-3 offset-1">
            <img src="../assets/images/Entreprises.png" />
        </div>
    </div>
{% endblock %}
