{% extends 'base.html.twig' %}
{% block header %}
    {% include 'banner.html.twig' %}
    {% include 'navbar.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">
        <a name="ancre1"></a>
        <div class="row">
            <div class="icone col-md-4 mt-5 mb-5">
                <img src="../assets/images/icone2.png" />
            </div>
            <div class="col-mb-7 offset-1">
            </div>
        </div>
        <div class="row">
            <div class="icone col-md-4">
                <a name="ancre2"></a>
                <img src="../assets/images/icone1.png" />
            </div>
            <div class="col-mb-7 offset-1">
            </div>
        </div>
        <div class="row">
            <div class="icone col-md-4 mt-5 mb-5">
                <a name="ancre3"></a>
                <img src="../assets/images/icone3.png" />
            </div>
            <div class="col-mb-7 offset-1">
            </div>
        </div>
        </div>
    </div>
{% endblock %}
