{% extends 'base.html.twig' %}
{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            {% for category_service in category_services %}
                <div class="icone col-5 mt-5 mb-5">
                    <img src="{{ category_service.image }}" alt=""/>
                </div>
                <div class="col-3 mt-auto mb-auto">
                    <ul class=" d-block">
                        {% for service in category_service.services %}
                            <li>
                            {{ service.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
