{% extends 'base.html.twig' %}

{% block title %}New CategoryService{% endblock %}

{% block body %}
    <h1>Create new CategoryService</h1>

    {{ include('category_service/_form.html.twig') }}

    <a href="{{ path('category_service_index') }}">back to list</a>
{% endblock %}
