{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie de Service{% endblock %}

{% block body %}
    <h1>Nouvelle Catégorie de Service</h1>

    {{ include('category_service/_form.html.twig') }}

    <a href="{{ path('category_service_index') }}">Retour à la liste</a>
{% endblock %}
