body {
    background-color: #eaeaea;
    margin-top: 100px;
}

.container {
    background-color: #eaeaea;
}

.banner {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

div:target {
    padding-top: 10em;
    margin-top: -10em;
}

#navbar {
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-item {
    font-size: 30px;
    margin-right: 10%;
}

a {
    text-align: center;
    color: #ee413a;
}

a:hover {
    color: black;
}

.icone {
    width: 50%;
    height: 50%;
}

.adm {
    font-size: 2.5vh;
}

h1 {
    text-align: center;
}
