body {
    background-color: #eaeaea;
    margin-top: 100px;
}

.container {
   background-color: #eaeaea;
}

.banner {
    position: relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 40%;
    height: 40%;
}

div:target {
    padding-top: 10em;
    margin-top: -10em;
}

#navbar {
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-item {
    font-size: 30px;
    margin-right: 10%;
}

a {
    text-align: center;
    color: #ee413a;
}

a:hover {
    color: black;
}

.icone {
    width: 50%;
    height: 50%;
}
/*
style logo
 */
.navbar-brand{
    bcolor: #ee413a;
}
/* style title
 */
h1 {
    color:#ee413a;
    text-shadow: 2px 3px 2px black;
    font-size: calc(3.7vw + 25pt);
    margin-top: 6%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}
p, li, th, td {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
}
li{
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
}
a .buttonvalid{
    color: white;
}