{% extends 'base.html.twig' %}

{% block header %}{% include 'navbarAdmin.html.twig' %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row col-12">
            <div class="adminimg">
                <img src="https://www.yourpromoholiday.com/wp-content/uploads/2018/03/Admin-resized-2.jpg"
                     alt="image d'administrateur"/>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}