<form method="post" action="{{ path('category_service_admin_delete', {'id': category_service.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette catégorie?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_service.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
