{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie de Service{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouvelle Catégorie de Service</h1>
        <div class="row">
            <div class="col-12">
                {{ include('admin/category_service/_form.html.twig') }}
            </div>
        </div>
    </div>
    <a class="btn btn-danger" href="{{ path('category_service_admin_index') }}" role="button">Retour à la liste</a>
{% endblock %}
