{% extends 'base.html.twig' %}

{% block title %}Modifier Company{% endblock %}

{% block body %}
    <h1>Modifier Company</h1>

    {{ include('company/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary" href="{{ path('company_index') }}" role="button">Retour à la liste</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
