{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <h1>Modifier la catégorie</h1>

    {{ include('category_company/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary" href="{{ path('category_company_index') }}" role="button">Retour à la liste</a>

    {{ include('category_company/_delete_form.html.twig') }}
{% endblock %}
