{% extends 'base.html.twig' %}

{% block title %}Catégories d'entreprise{% endblock %}

{% block body %}
    <h1>Catégories d'entreprise</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_company in category_companies %}
            <tr>
                <td>{{ category_company.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_company_show', {'id': category_company.id}) }}" role="button">voir</a>
                    <a class="btn btn-primary" href="{{ path('category_company_edit', {'id': category_company.id}) }}" role="button">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_company_new') }}" role="button">Créer</a>
{% endblock %}
